body{
    background-color:rgb(185, 40, 69);
}

h5{
    text-align: center;
    text-decoration: solid;
    font-size:xx-large;
}

.box{
    background-color: goldenrod;
    box-shadow: darkgrey;
    width: 500px;
    align-items: center;
    height: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

p{
    font-size: large;
    font-style: initial;
}

